@using System.Web.Optimization
@*@using System.Web.Optimization

<html>

<body>
    <div class="container wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ExchangeRates</a>
                </div>
            </div>
        </div>

        <div class="hero-unit" style="margin-top: 30px">
           @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="muted">
                <a href="mailto:d.o.kozhevnikov@gmail.com">"Kozhevnikov Dmitry"</a>
            </p>
        </div>
    </div>
</body>
</html>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ExchangeRates</title>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/Scripts/all")
    @Styles.Render("~/Content/all")
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ExchangeRates</a>
            </div>
        </div>
    </div>
    <div id="wrap">
        <div class="container">
            @RenderBody()
        </div>
        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            <a href="mailto:d.o.kozhevnikov@gmail.com">Kozhevnikov Dmitry</a>
        </div>
    </div>

</body>
</html>
