<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ExchangeRates</title>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href="../../Content/layout.css" rel="stylesheet">
    <script>
        $(function () {
            $(".datepicker").datepicker({ dateFormat: "dd.mm.yy" });
        });
  </script>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ExchangeRates</a>
            </div>
        </div>
    </div>
    <div id="wrap">
        <div class="container">
            @RenderBody()
        </div>
        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            Kozhevnikov Dmitry, <a href="mailto:d.o.kozhevnikov@gmail.com">d.o.kozhevnikov@gmail.com</a>
        </div>
    </div>

</body>
</html>
